NODE_ENV=development
APP_ENV=local
PORT=3000
# error | warn | info | verbose | debug; defaults to info in production, debug otherwise
LOG_LEVEL=

BACKEND_HOST=http://localhost:3000
WEB_BASE_URL=http://localhost:4200

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=@dm1nP@ssL0CAL

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=demo-db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Database123!

JWT_SECRET=

SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=
SMTP_PASSWORD=
MAIL_FROM="<no-reply@nest-template.local>"
